.git
.gitignore
.env
.env.*
!.env.example

.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd

.gradle-build-cache
.gradle
.pub-cache
.tmp
.dart_tool
mobile/app/.build-cache
mobile
build

.venv
venv
env

.mypy_cache
.ruff_cache

tests
agent-transcripts
terminals
